@import "tailwindcss";

:root {
  --radius: 0.5rem;
}

body {
  background-color: #F3F4F6;
  color: #111827;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
